target/
.classpath
.project

/src/ro/nextreports/server/ReleaseInfo.java
ivy-lib/
ivy-report/

# CVS legacy #
CVS/
stuff/
data/
dist/
artifacts/
lib/
logs/
reports/
.idea/
.settings/
jaspers/
webapp/WEB-INF/classes/
local.properties
derby.log
data*
