// main: style.less
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


.font-face(@family, @name, @weight: 300, @style){
    @font-face{
        font-family: @family;
        src:url('../../fonts/@{family}/@{name}.eot');
        src:url('../../fonts/@{family}/@{name}.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/@{family}/@{name}.woff') format('woff'),
            url('../../fonts/@{family}/@{name}.ttf') format('truetype'),
            url('../../fonts/@{family}/@{name}.svg#icon') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}