//main: style.less

@actions-image: 'actions-col-arrow-blue.gif';

//  COLORS
// --------------------------------------------------------------

// Theme Colors
@main-color:                  #00AEEF;
@main-light-color:            #C0E9FC;
@main-lightest-color:         #E6F7FD;
@main-dark-color:             #0098D1;
@main-darkest-color:          #006D96;
@secondary-color:             #455257;
@secondary-light-color:       #C1D0D6;
@secondary-dark-color:        #303A3D; 

// Other colors
@link-color:                  @main-color;
@link-hover-color:            @dark-headings-color;
@bg-inverse:                  @secondary-color;
    

/*   BUTTONS
----------------------------------------------------------------*/
@btn-border-color:				#0080af;
@btn-text-color:				#ffffff;
@btn-top-color:					#00aeef;
@btn-bottom-color:				#009bd5;
@btn-background:				#00aeef;
@btn-background-hover:			#00b7fc;
@btn-border-color-hover:		#0080af;
@btn-text-color-hover:			#ffffff;
@btn-radius:					4px;

/*   LOCATION (BREADCRUMB)
----------------------------------------------------------------*/
@bcrb-text-color:				#6a6a6a;
@bcrb-text-hover:				#00aeef;
@bcrb-text-activ:				#00aeef;
@bcrb-top-color:				#ffffff;
@bcrb-bottom-color:				#ffffff;
@bcrb-border-color:				#dfdfdf;
@bcrb-border-radius:			8px;

//  MENIU ACTION PANEL
//----------------------------------------------------------------
@menu-act-pnl-bg:             #ffffff;
@menu-act-pnl-text:           @general-text-color;
@menu-act-pnl-border:         @hr-borders-color;
@menu-act-pnl-shadow:         #dfdfdf;
@menu-act-pnl-bg-hover:       @main-color;
@menu-act-pnl-text-hover:     @main-lightest-color;

/*   ACTION BAR
----------------------------------------------------------------*/
@act-bar-top-color:				#efefef;
@act-bar-bottom-color:			#cfcfcf;
@act-bar-border-radius:			8px;
@act-bar-border-color:			#cccccc;

/*  WIDGET HEADER
----------------------------------------------------------------*/
@wdg-text-color:				#202020;
@wdg-border-color:				#00aeef;

/*   DASHBOARD
----------------------------------------------------------------*/	
@dash-selected-color:			#cff0fc;
@dash-selected-text:			#000000;

/*   HEADINGS
----------------------------------------------------------------*/
@header-color:                #202020;